<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Numeros primos</title>
    <link rel="stylesheet" href="../styles/numPrimos.css">
    <script src="../js/numPrimos.js" defer></script>
</head>
<body>

    <div>
        <h1>Verificador de numeros primos</h1>
        <p>Introduce un número entero para saber si es primo.</p>

        <form action="../static-php/verificar_primo.php" method="post"> <!-- este es el fichero que contiene el codigo php y va a usar el metodo post-->
            <input type="number" name="numero" placeholder="Ej: 17" required>  <!-- required bloquea el envio si no se pone un numero -->
            <br><br>

            <input type="submit" value="Verificar">
            <br><br>
        </form>
    </div>

    <div>
        <h1>Verificador números primos entre dos enteros</h1>
        <p>Introduce dos números enteros para saber los primos entre ellos</p>

        <form action="../static-php/verificar_primo_entre_enteros.php" method="post"> <!-- este es el fichero que contiene el codigo php y va a usar el metodo post-->
            <input type="number" name="num1" placeholder="Ej: 2" required>  <!-- required bloquea el envio si no se pone un numero -->
            <br><br>

            <input type="number" name="num2" placeholder="Ej: 30" required>  <!-- required bloquea el envio si no se pone un numero -->
            <br><br>

            <input type="submit" value="Verificar primos">
        </form>
    </div>

    <div>
        <h1>Verificador de numeros primos</h1>
        <h2>From API</h2>
        <p>Introduce un número entero para saber si es primo</p>

        <form id="form-primo">
            <input type="number" name="numero" placeholder="Ej: 7" required>
            <br><br>

            <input type="submit" value="Verificar">
            <br><br>
        </form>

        <div id="resultado-primos" class="resultado"></div>
    </div>

    <div>
        <h1>Verificador números primos entre dos enteros</h1>
        <h2>From API</h2>
        <p>Introduce dos números enteros para saber los primos entre ellos</p>

        <form id="form-primos-enteros"> 
            <input type="number" name="num1" placeholder="Ej: 2" required>  
            <br><br>

            <input type="number" name="num2" placeholder="Ej: 30" required>  
            <br><br>

            <input type="submit" value="Verificar primos">

            <div id="resultado-enteros" class="resultado"></div>
        </form>
    </div>
    
</body>
</html>